/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: 'TTLakes-Medium';
  src: url(./fonts/TTLakes-Medium.ttf);
}

@font-face {
  font-family: 'TTLakes-Bold';
  src: url(./fonts/TTLakes-Bold.ttf);
}

@font-face {
  font-family: 'TTLakes-Light';
  src: url(./fonts/TTLakes-Light.ttf);
}

@font-face {
  font-family: 'TTLakes-Regular';
  src: url(./fonts/TTLakes-Regular.ttf);
}

body {
  background-color: #f8f8f8;
  font-family: 'TTLakes-Medium';
  min-width: 320px;
  width: 100vw;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

header {
  background-color: #ffffff;
  margin: 0px;
}

.header__container--mobile {
  width: 100%;
  max-width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #D9FFF5;

}

.header__burger {
  margin-left: 16px;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border: 0px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #FF3E79;
  background-image: url("images/iconburger.svg");
}

.header__burger::after {
  content: '';
  position: absolute;
  left: 64px;
  top: 10px;
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  display: none;
}

.header__button-call {
  display: none;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border: 0px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #FF3E79;
  background-image: url("images/iconcall.svg");
}

.header__button-chat {
  display: none;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border: 0px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #FF3E79;
  background-image: url("images/iconchat.svg");
}

.header__button-profile {
  display: none;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border: 0px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #FF3E79;
  background-image: url("images/iconprofile.svg");
}

.header__button-repair {
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border: 0px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #FF3E79;
  background-image: url("images/paths.svg");
}

.header__button-checkstatus {
  width: 40px;
  height: 40px;
  border: 0px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #FF3E79;
  background-image: url("images/checkstatus.svg");
}

.header__button-repair::before {
  content: '';
  position: absolute;
  right: 132px;
  top: 28px;
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
}

.header__pc-button-make-request {
  margin-right: 16px;
  display: none;
}


.header__pc-button-check-status {
  display: none;
  width: 40px;
  height: 40px;
  border: 0px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #FF3E79;
  background-image: url("images/checkstatus.svg");
}

.header__left-icons—mobile {
  display: flex;  
  align-items: center;
}

.header__extra {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.header__left-icons {
  position: relative;
  display: flex;
  align-items: center;
}

.header_center-icons {
  display: flex;
  align-items: center;
  justify-items: flex-end;
} 

.first-section {
  font-family: 'TTLakes-Bold';
  align-items: center;
  margin-top: 24px;
  max-width: 100%;
}

.header__title {
  padding-left: 16px;
  font-family: 'TTLakes-Bold';
  align-items: center;
  padding-top: 24px;
  max-width: 100%;
  background-color: #F8F8F8;
}

.header__title::before {
  background-color: #41f6d7;
  width: 4px;
  height: 40px;
  left: 0px;
  content: '';
  position: absolute;
  border-radius: 0px 10px 10px 0px;
  -webkit-border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
  -ms-border-radius: 0px 10px 10px 0px;
  -o-border-radius: 0px 10px 10px 0px;
  margin-right: 12px;
}

.menu__menu__tablist {
  display: inline-flex;
  width: 100%;
  justify-content: flex-start;
  padding: 0px 16px;
  overflow-x: auto;
  padding-left: 16px !important;
}

button {
  background-color: #f8f8f8;
}

.main__menu {
  margin-top: 24px;
}

.menu__tab {
  white-space: nowrap;
  padding: 8px 16px;
  border: 2px solid transparent;
  color: grey;
}

.menu__tab--active {
  border: 2px solid #b8ffec;
  background-color: white;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.main__article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.article__text-container.article__text-container--opened .article__visible-text__extended {
  margin-top:20px;
}

.article__text-container {
  display: inline-flex;
  justify-content: center;
  line-height: 18px;
  font-size: 14px;
  font-family: 'TTLakes-Regular';
  margin: 24px 16px 0px 16px;
  letter-spacing: 0.2px;
  vertical-align: top;
  flex-direction: column;
}

.article__text-container.article__text-container--opened .article__first-fragment {
  display: inline;
}

.article__show-more-button {
  padding: 0;
  position: relative;
  display: inline-flex;
  align-self: flex-start;
  vertical-align: middle;
  cursor: pointer;
  border: 0px;
  margin-left: 32px;
  margin-top: 16px;
}

#article__first-fragment {
  display: none;
}

.article__read-more-less {
  font-family: 'TTLakes-Medium';
  font-size: 16px;
  line-height: 24px;
  vertical-align: Top;
  letter-spacing: -0.2px;
  cursor: pointer;
}

.article__read-more-less::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 11px;
  left: -24px;
  top: 20%;
  background-image: url("images/icon.svg");
  background-size: 8px 11px;
}

.icon {
  vertical-align: bottom;
}

.article__text-container.article__text-container--opened .article__read-more-less::before {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.article__image-container {
  margin-top: 16px;
  text-align: center;
}

.article__first-fragment {
  display: none;
}


.first-section__left-side {
  display: flex;
}

.header__pc-extra {
  display: none;
}


@media (min-width: 768px) {
  .header__logo {
    margin-left: 42px;
  }


  .header__button-call {
    display: block;
    margin-right: 16px;
  }

  .header__button-chat {
    display: block;
    margin-right: 16px;
  }

  .header__button-profile {
    display: block;
    margin-right: 42px;
  }

  .header__burger {
    margin-left: 24px;
  }

  .header__burger::after {
    display: block;
    left: 92px;
    top: 28px;
  }

  .header__button-checkstatus {
    width: 40px;
    height: 40px;
    border: 0px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: #FF3E79;
    background-image: url("images/checkstatus.svg");
  }

  .header__title {
    padding-left:24px;
    
  }

  .header__title::before {
    left: 0px;
  }

  .article__text-container {
    display: flex;
    flex-basis: 312px;
    flex-direction: column;
    margin-right: 48px;
    margin-left: 24px;
    margin-top: 32px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow:3;
  }

  .article__text-container {
    max-width: 50%;
    justify-content: space-between;
  }


  .article__image-container {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;

    flex-basis: 360px;
  }

  .article__show-more-button {
    margin-top: 10px;
    margin-left: 33px;
  }

  .article__first-fragment {
    display: inline;
  }


  .article__image {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
}

@media (min-width: 1120px) {
  header {
    background-color: #F8F8F8;
  }

  .header__container--mobile {
    display: none;
  }

  .header__title {
    padding-top: 42px;
  }

  .header__title-container {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
  }

  .header__pc-extra {
    display: flex;
    vertical-align: middle;
    position: relative;
    flex-basis: 373px;
  }

  .button-1 {
    padding: 0;
    margin-right: 32px;
    margin-top: 42px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .header__pc-button-make-request-label {
    display: flex;
    white-space: nowrap;
    margin-top: 42px;
    position: absolute;
    right: 0%;
    align-items: center;
  }

  .header__pc-button-make-request {
    display: inline;
    border: 0px;
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-left: 8px;
    background-image: url("images/paths.svg");
    margin-right: 32px;

}


.header__pc-button-check-status-label {
  display: flex;
  align-items: center;
  margin-top: 42px;
  white-space: nowrap;
  position: absolute;
  right: 56%
}

  .header__pc-button-check-status {
    display: inline;
    border: 0px;
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-left: 8px;
    margin-right: 32px;
    background-image: url("images/checkstatus.svg");
  }

  .header_high_defination-make_request {
    display: inline-flex;
    font-family: 'TTLakes-Medium';
    margin-right: 8px;
  }

  .header__pc-extra-status {
    display: inline-flex;
    font-family: 'TTLakes-Medium';
    margin-left:32px;
    margin-right: 9px;
  }


  .article__text-container {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 34px;
    margin-right:36px;
    margin-top: 0;
    flex-basis: 490px;
    flex-shrink: 1;
    flex-grow:3;
    line-height: 20px;
  }

  .article__visible-text__extended {
    margin-top: 20px;
  }

  #article__first-fragment {
    display: inline;
  }

  .menu__menu__tablist {
    overflow-x: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 19px;
    padding-right: 37px;
    padding-left: 32px;
    
  }

  .article__image-container {
    flex-basis: 531px;
}

  .article__image {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

  .main__article {
    margin-top: 20px;
  }

  .article__first-fragment {
    display: unset !important;
  }

  #article__first-fragment {
    display: unset !important;
  }


}
